<h1>Login </h1>
<p> We won't be saving the credentials, neither do we already have them. We will forward these credentials to cse turing server and authenticate</p>

<form action="/login" method="POST">
<tr>
   <td>Username:</td>
  <td><input type="text" name="Username" size="20"
  autocomplete="no" value={{.Username}}></td>
</tr>
<tr>
   <td>Password:</td>
  <td colspan=2><input type="password" name="Password" size=20 autocomplete="no">
  <input type="submit" name="submit_login" value="Log in">
</td>
</tr>
</form>