<h1>Poll </h1>
<a href="/logout">Logout</a>


<p> Give 2 votes .. Voting method is iVR .. Both Votes cannot be cast to same person or else votes won't count</p>

<form action="/ballot" method="POST">
<tr>
   <td>first:</td>
  <select name="1">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
</tr>
<tr>
   <td>second:</td>
  <select name="2">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
  <input type="submit" name="submit_vote" value="Vote!">
</td>
</tr>
</form>

<tr> Current Votes
	<td>

		{{range $index, $element := .}}{{$element}} {{end}}
	</td>
</tr>